<div>
  <div class="container text-center">
    <br>
    <br>
    <h1><b>{{dia}}, {{weekDay}} de {{mes}} de {{year}}</b> </h1>
    <h2>{{hora}}:{{minuto}}:{{segundo}}</h2>
    <br>
    <br>
    <img width="800" src="assets/escudo DIM.png" alt="Page not-found" />
    <br>
    <br>
  </div>
  <div class="container text-center cita">
    <p><b>“Ley de Alzheimer de la programación:</b> si lees un código que escribiste hace más de dos semanas es como si lo vieras por primera vez”</p>
    <p><b>Via Dan Hurvitz</b></p>
  </div>
</div>

