<form #clienteForm="ngForm">
  <div class="form-row py-2">
    <div class="col-lg-4 col-md-12">
      <label>Nombre <sup class="text-danger">*</sup></label>
      <input type="text" class="form-control" [(ngModel)]="cliente.nombre" placeholder="Nombre del Cliente" name="nombre"
        required minlength="3" #nombre="ngModel" [ngClass]="{ 'is-invalid': nombre.invalid && (nombre.dirty || nombre.touched),
        'is-valid': !nombre.invalid }"/>
      <div class="text-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
        <div *ngIf="nombre.errors.required">
            El Nombre del Cliente es obligatorio
        </div>
        <div *ngIf="nombre.errors.minlength">
          El Nombre del Cliente debe tener al menos 3 carácteres
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12">
      <label>Correo electrónico<sup class="text-danger">*</sup></label>
      <input type="email" class="form-control" [(ngModel)]="cliente.correo" placeholder="Correo del Cliente" name="correo"
        #correo="ngModel" [ngClass]="{ 'is-invalid': correo.invalid && (correo.dirty || correo.touched),
        'is-valid': !correo.invalid }"/>
      <div class="text-danger" *ngIf="correo.invalid && (correo.dirty || correo.touched)">
        <div *ngIf="correo.errors.required">
            El correo electrónico del Cliente es obligatorio
        </div>
        <div *ngIf="correo.errors.email">
          Introduzca un email valido ("@")
        </div>
      </div>
    </div>
  </div>
  <div class="form-row justify-content-between pt-5">
    <div class="col-lg-5 col-md-12">
      <button class="btn btn-primary" role="button"
      (click)="crearCliente()"
        [disabled]="!clienteForm.form.valid">
        Crear Cliente
      </button>
    </div>
  </div>
</form>